.logo{
    padding-top: 30px;
}
#header-container {
    margin:auto;
    width: 75%
}
.col-3 {
    width: 33%;
    float: left;
}
.list{
    margin-top: 30px;
}
.list li {
    list-style-type: none;
    display: inline;
    padding-right: 30px;
    font-size: .85em;
    color: #8e8e8e;
}
.getStartedBTN {
    border: none;
    background-color: #6dc77a;
    border-radius: 28px;
    padding: 10px 26px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}